#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.ant-layout {
    position: relative; 
}

.ant-layout .ant-layout-header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
    float: left;
    width: 100%;
    height: 65px;
}

.ant-layout .title {
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 99;
    color:black;
}

.slider {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    width: 200px;
}

.content {
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 201px;
    overflow-y: auto;
}

.ant-menu-submenu a {
    color: #fff;
}

.ant-menu-submenu-active a {
    color: #fff;
}