.TypePage-box {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    height: 70px;
    font-size: 20px;
}

.type-content-table {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
}

.btn-add-plus {
    margin-bottom: 30px;
}


/* 
.btn-icon-pus {
    /* width: 200px; */


/* height: 100%; */


/* } */

.anyd-modal-exam {
    text-align: center;
}

.ant-modal-content {
    padding: 20px;
}

.anyd-modal-exam .ant-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 7px;
}

.ant-form-item-control {
    height: 100%;
    text-align: center;
    margin-left: 0;
}