#root {
    width: 100%;
    height: 100%;
}

.allju {
    width: 100%;
    height: 100%;
    background-image: url("https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1439929676,2562571871&fm=26&gp=0.jpg");
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.ant-form-item-control.has-success {
    text-align: center;
}

span.ant-input-affix-wrapper {
    width: 350px;
}

span.ant-input-affix-wrapper {
    width: 350px;
}

.login-form {
    width: 500px;
    height: 375px;
    position: relative;
    top: 200px;
    border-radius: 8px;
    background: white;
}
form.ant-form.ant-form-horizontal.login-form {
    margin: 0 auto;
}

form.ant-form.ant-form-horizontal.login-form {
    margin: 0 auto;
}

.login-form-forgot {
    margin-left: 30px;
}

.ant-checkbox-wrapper {
    display: block;
    margin-left: 30px;
}

.ant-row.ant-form-item.formitem {
    padding-top: 30px;
}
  
  .login-form-forgot{
    margin-left: 30px;
  }
  
  .ant-checkbox-wrapper{
    display: block;
    margin-left: 30px;
  }
  
  .formitem{
    padding-top: 30px;
  }
