.login-back-box {
    width: 100%;
    height: 100%;
    background: navy;
    background-size: auto 100%;
    position: relative;
}

.loginPage {
    width: 400px;
    height: 305px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    right: 150px;
    padding: 40px 20px;
    border-radius: 5px;
}

#components-form-demo-normal-login .login-form {
    max-width: 200px;
    max-height: 235px;
}

.login-form .ant-form-item:nth-child(4) {
    margin-bottom: 0px;
}

#components-form-demo-normal-login .ant-checkbox-wrapper {
    float: left;
}

.ant-form-item-children {
    display: inline-block;
    width: 100%;
}

.login-form-forgot {
    float: right;
}

.ant-form-item-children .ant-btn-primary {
    width: 100%;
    height: 40px;
}