.marking-apge table {
    width: 100%;
    height: auto;
}

.marking-apge table tbody {
    width: 100%;
    overflow-y: auto;
}

.marking-apge table tr {
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #ccc;
}

.marking-apge table tr th {
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}