.TypePage-class {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}

.header-class {
    width: 100%;
    height: 70px;
    font-size: 20px;
}

.type-content-class {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
}

.btn-class-add {
    margin-bottom: 30px;
}

.btn-class-add .class-ads-btn {
    height: 40px;
}

.anyd-modal-box {
    text-align: center;
}

.ant-modal-content {
    padding: 20px;
}

.anyd-modal-box input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 7px;
}