* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.titleh2 {
    margin-left: 10px;
    margin-top: 20px;
}

.content {
    width: 100%;
    height: 100%;
    text-align: left
}

.form-top {
    width: 90%;
    height: 95%;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
}

.contentinner ul li .examname {
    width: 230px;
    height: 32px;
}

.ant-row.ant-form-item {
    display: flex;
    flex-direction: column;
}

.ant-row.ant-form-item label.ant-form-item-required {
    font-size: 17px;
}

.ant-col.ant-form-item-label.ant-col-xs-24.ant-col-sm-8 {
    text-align: left;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 25px;
}


.topbox {
    margin-top: 20px;
    height: 121px;
    width: 93%;
    background-color: white;
    border-radius: 10px;
}

.topbox>div {
    display: inline-block;
    margin-left: 40px;
}

.topbox div .ant-select-selection.ant-select-selection--single {
    margin-top: 30px;
}

.topbox div button.ant-btn.addbtn.ant-btn-primary.ant-btn-lg {
    margin-top: 30px;
    width: 132px;
}

.topbox div span {
    font-size: 17px;
    margin-left: 15px;
}

.bottbox {
    margin-top: 20px;
    height: auto;
    width: 93%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.bottbox .toplist {
    position: relative;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
}

.bottbox .toplist div {
    display: flex;
    margin-left: 20px;
    width: 100%;
    margin-top: 20px;
}

.bottbox .toplist div h4 {
    flex: 1;
    margin-top: 20px;
}

.bottbox .toplist div .ant-radio-group.ant-radio-group-outline.ant-radio-group-large {
    flex: 1;
    margin-left: 242px;
}

.contenttitle {
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.ant-col.ant-form-item-control-wrapper.ant-col-xs-24.ant-col-sm-16{
    margin-left: 50px;
}

.ant-form-item-control{
    height: 100%;
    text-align: left;
    margin-left: 0;
}
.contenttitle .titleone {
    background-color: #f4f7f9;
}

.contenttitle li {
    flex: 1;
    display: flex;
}

.contenttitle li p {
    flex: 1;
    display: flex;
    justify-content: center;
    line-height: 73px;
}

.questions {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    background-color: white;
}

main>div,
.contt,
.contents {
    width: 100%;
    height: 100%;
}

.contents {
    background-color: white;
}

.contents .addbtn {
    margin-left: 30px;
    margin-top: 30px;
}

.selectExams h2 {
    text-align: center;
    margin-top: 50px;
}

.selectExams .title {
    text-align: center;
}

.selectExams .createbtn {
    margin-left: 45%;
    margin-top: 20px;
}

.selectExams .issue {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 30px;
    border: 1px solid #ccc;
}

span.ant-table-header-column {
    line-height: 12px;
}